/*------------- PAGE CONFIG ------------------*/

@font-face {
    font-family: SF_font;
    src: url("../css/fonts/SFUIDisplay-Thin.woff");
}
body{
    font-family: SF_font !important;
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

/*---------------------- HEADER -----------------------*/

.header{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.header__container{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*--- LOGO ---*/
.company__container{
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: flex;
}
.logo{
    background: url("../img/icons/gerb_spb.png");
    background-size: contain;   
    width: 20px;
    margin-right: 1rem;
}
/*--- NAV ---*/
.menu__body{
    margin-left: 2rem;
}
.menu__list{
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
    color: white;
}
.menu__list > li{
    padding-left: 2rem;
}
.menu__list > li:first-child{
    padding-left: 0px;
}
/*--------------------- MAIN --------------------*/
main{
    padding-top: 50px;
}
/*-------------------- TOP CONTENT ----------------*/
.top__category{
    margin: 0.25rem 1rem 0.25rem 1rem;
}
.top__category{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(40px, auto);
}
.category{
    margin: 1px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
/*--- SLIDER ---*/
.top__slider{
    background-color: ghostwhite;
    height: 500px;
}
.slider__container{
    height: 500px;
}
.slider{
    height: 500px;
}
._one{
    background: url("../img/slider/sliderbar_1.png");
    background-size: contain;
    width: 10%;
}
._two{
    background: url("../img/slider/sliderbar_2.png");
    background-size: contain;
    width: 10%;
}
._three{
    background: url("../img/slider/sliderbar_5.png");
    background-size: contain;
    width: 10%;
}
/*-------------------- COMPANY ----------------*/
.company__advantage{
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
}
.company__info{
    background-color: rgba(0, 0, 0, 0.7);
    height: 300px;
}

/*--------------------- FOOTER ----------------*/
footer{
    width: 100%;
    height: 200px;
    background-color: ghostwhite;
}
.footer__container{
    display: flex;
    justify-content: space-around;
}
.footer__container > div{
    margin: 10px 25px;
}
.social_media > div{
    width: 30px;
    height: 30px;
    margin: 5px;
}
div.vk{
    background: url("../img/icons/vk_icon_2.png");
    background-size: contain;
}
div.telegram{
    background: url("../img/icons/telega_icon_2.png");
    background-size: contain;
}