/*------------- PAGE CONFIG ------------------*/

@font-face {
    font-family: SFD;
    src: url("../css/fonts/SFUIDisplay-Regular.woff");
}
@font-face {
    font-family: SFD;
    src: url("../css/fonts/SFUIDisplay-Medium.woff");
    font-weight: 500;
}
@font-face {
    font-family: SFD;
    src: url("../css/fonts/SFUIDisplay-Light.woff");
    font-weight: 300;
}
@font-face {
    font-family: SFD;
    src: url("../css/fonts/SFUIDisplay-Semibold.woff");
    font-weight: 600;
}
body{
    font-family: SFD !important;
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
._container{
    max-width: 1140px;
    margin: auto auto;
}
h1 {
    font-size: 40px !important;
    font-weight: 600 !important;
}

/*---------------------- HEADER -----------------------*/
header{
    transition: 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}
.header-shadow, .header-line{
    height: 48px;
    background: rgba(255,255,255,0.9);
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.header-shadow{
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.header-line{
    border-bottom: 0.7px solid rgba(0,0,0,0.16);
}
.header__container{
    max-width: 1185px;
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right)));
    margin: 0 auto;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
/*--- LOGO ---*/
.company__container{
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: flex;
}
.logo{
    background: url("../img/icons/beraum-logo.svg") center no-repeat;
    width: 100px;
    height: 18px;
}
/*--- NAV ---*/
.menu__icon{
    display: none;
}
.menu__body{
    margin-left: 2rem;
}
.menu__list{
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px;
    color: #1d1d1d;
    letter-spacing: 0.04em;
    line-height: 3.14286;
    text-decoration: none;
}
.menu__link {
    color: #1d1d1d;
    margin: 0 16px;
}
.menu__link:hover {
    color: #1d1d1d;
    text-decoration: none;
    opacity: 0.8;
}
.phone-icon {
    background-image: url("../img/icons/Phone-icon-header.svg");
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.phone-icon:hover {
    text-decoration: none;
    opacity: 0.8;
}
.phone-icon a{
    display: block;
    width: 15px;
    height: 15px;
}
.menu__list > li{
    padding-left: 2rem;
}
.menu__list > li:first-child{
    padding-left: 0px;
}
/*--------------------- MAIN --------------------*/
main{
    padding-top: 45px;
}
/*-------------------- TOP CONTENT ----------------*/
.top__category{
    margin: 0.25rem 1rem 0.25rem 1rem;
}
.top__category{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(40px, auto);
    display: none;
}
.category{
    margin: 1px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
/*-------- SLIDER --------*/
.top__slider{
    background-color: white;
    margin-top: 0.25rem;
    width: 100%;
}
.slider__container{
    max-width: 1840px;
    height: 500px;
    margin: 0 auto;
}
.slider{
    height: 500px;
    min-height: 1px;
}
._one{
    background: #fff;
    background-image: url("../img/slider/sliderbar_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.sl {
    position: absolute;
    color: #1d1d1d;
    max-width: 1185px;
    top: 20%;
    left: 10%;
}
.sl-h1 h1 {
    font-size: 65px !important;
    font-weight: 500 !important;
}
.sl-text {
    padding: 10px 0 30px 0;
    font-size: 18px;
}
.sl-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3462F2;
    border: none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #fff;
    width: 240px;
    height: 55px;
}
.sl-btn:hover {
    background: #1c51ee;
}
._two{
    background: #00B8FC;
    background-image: url("../img/slider/sliderbar_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
._three{
    background: #00EAD0;
    background-image: url("../img/slider/sliderbar_4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/*--- SLIDER ELEMENTS ---*/
.sliderban_1 .slick-arrow{
    width: 48px;
    height: 48px;
    top: calc(50% - 24px);
}
.sliderban_1 .slick-prev{
    left: 30px;
    z-index: 2;
}
.sliderban_1 .slick-next{
    right: 30px;
    z-index: 2;
}
.slick-list{
    margin: 0 !important;
    padding: 0 !important;
}
.sliderban_1 .slick-dots{
    bottom: 20px;
}
.sliderban_1{
    margin-bottom: 0 !important;
}
/*-------------------- COMPANY ----------------*/
.company__info{
    padding-top: 110px;
    background-color: #f5f5f7;
    width: 100%;
    margin: auto;
}
.company__info_left{
    padding-top: 110px !important;
    background-color: white;
    width: 100%;
    margin: auto;
}
.company__info_right{
    padding-top: 110px !important;
    background-color: #f5f5f7;
    width: 100%;
    margin: auto;
}
.info_block{

}
.info_block h1{
    text-align: center;
    padding-bottom: 30px;
    font-weight: 400 !important;
}
.info_block h1 span {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 50px;
}
.info_text{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}
.info_row_text {
    padding-top: 60px;
    width: 45%;
}
.info_row_text span {
    font-size: 36px;
    font-weight: 600;
    line-height: 0.8;
    color: #3462F2;
    margin-bottom: 30px;
}
.info_row_text1 {
    padding-top: 30px;
}
.info_row_main{
    width: 100%;
    display: inline-flex;
}
.info_row_img{
    background-image: url("../img/icons/HandOK.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 450px;
    width: 55%;
}
.advant_img_1{
    background-image: url("../img/images/Earth1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 400px;
    width: 55%;
}
.advant_img_2{
    background-image: url("../img/images/Earth1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 400px;
    width: 55%;
}
.advant_img_3{
    background-image: url("../img/images/Earth1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 400px;
    width: 55%;
}
.advant_text{
    padding: 40px 40px 0 40px;
    width: 45%;
}
.advant_text span{
    font-size: 36px;
    font-weight: 600;
    line-height: 0.8;
    color: #3462F2;
    margin-bottom: 30px;
}
.advant_text_next{

}

/*--------------------- ПРЕЙМУЩЕСТВА -------------*/
.company__advantage{
    background-color: white;
    width: 100%;
    padding-top: 110px !important;
}
.advantage_block{
    padding: 5rem 0;
}
.block_name h1{
    text-align: center;
}
.advantage_grid{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-row-gap: 30px;
    grid-auto-rows: minmax(40px, auto);
    text-align: center;
    align-items: center;
}
.adv_block > div{
    font-size: 18px;
    padding: 20px 0;
}
/*--------------------- FOOTER ----------------*/
footer{
    width: 100%;
    background-color: #f5f5f7;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.footer__container > div{
    margin: 30px 0 15px 0;
    font-size: 14px;
}
.social > div{
    margin: 15px 0 0px 0;
    font-size: 14px;
    padding-bottom: 30px;
}
.media_flex{
    display: flex;
}
.media_flex > div{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.media_flex > div:first-child{
    margin-left: 0;
}
._footcontain{
    line-height: 40px;
}
._footcontain span{
    font-weight: 500;
    list-style: none;
}
._footcontain > ul li a{
    color: black;
}
._footcontain > ul li{
    list-style: none;
    font-weight: 400;
}
._footcontain > ul li a:hover{
    color: #3462f2;
    text-decoration: none;
}
div.vk{
    background: url("../img/icons/vk_icon_2.png");
    background-size: contain;
}
div.instagram{
    background: url("../img/icons/Instagram.svg");
    background-size: contain;
}
div.ozon{
    background: url("../img/icons/ozon.png");
    background-size: contain;
}
div.wildberries{
    background: url("../img/icons/wildberries.png");
    background-size: contain;
}
div.yamarket{
    background: url("../img/icons/yamarket.svg");
    background-size: contain;
}