@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
@font-face {
    font-family: SFD;
    src: url("../css/fonts/SFUIDisplay-Regular.woff");
}
/* Arrows */
.sliderban_1 .slick-prev, .sliderban_1 .slick-next {
    outline: none;
}
.slick-prev
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    margin-top: 0.5rem;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background: url(../img/slider/left.svg) no-repeat;
    width: 27px !important;
    height: 60px !important;
}
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    margin-top: 0.5rem;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background: url(../img/slider/right.svg) no-repeat;
    width: 27px !important;
    height: 60px !important;
}



/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 20px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 10px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    box-sizing: border-box;
    content: " ";
    display: block;
    width: 18px !important; 
    height: 18px !important;
    background: rgba(255,255,255,0.9);
    border-color: #1d1d1d;
    border-radius: 100%;
    margin: 0 auto;
}
.slick-dots li.slick-active button:before
{   
    box-sizing: border-box;
    content: " ";
    display: block;
    width: 18px !important;
    height: 18px !important;
    border: 3px solid #1d1d1d;
    background: rgba(255,255,255,0.9);
    border-radius: 100%;
    margin: 0 auto;
    transition: all .2s linear;
}

.slick-next:focus .slider-current{
    transform: translate3d(-30px, 0px);
}